body {
    background: url("./img/bgsamurai.jpeg");
}

.todo-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-top: 50px;
}
.container {
    
    width: 550px;
    padding: 20px;
    margin: 100px auto 0;
    
    /* From https://css.glass */
    
background: rgba(255, 255, 255, 0.82);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.57);
}


.input-task {
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: none;
    padding: 14px;
    margin-right: 25px;
    margin-left: 13px;
}

/* .button-add-task {
    border: none;
    border-radius: 10px;
    color: black;
} */

/* -------- button custom -------- */

.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    /* display: flex; */
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.7em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    margin-top: 0.3em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    top: 0;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
  .list-tasks {
    width: 100%;
    padding: 0.8em 1em;
  }

  .task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 14px;
    margin: 20px;
}

img { 
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.task:hover img {
  opacity:  0.9;
  cursor: pointer;
 }

.divider {
  border-top: 2px solid #714da6; /* cor roxa */
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  
}

.done {
  background-color: #0C1C35 ;
  text-decoration: line-through ;
  opacity: 0.9;
  color: whitesmoke;
}